@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}