@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #393939;
}

.container {
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

h1 {
	margin:0;
	padding: 0;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 100px;
	color: white;
	transition: all .5s ease;
	position: relative;
	  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

h1.yo {
	font-size: 400px !important;
	transition: all .2s ease;
}


.skewmore {
	transform: skewX(-420deg) rotate(100deg) translate(-20%, -40%);;
	transition: all 1s ease;
}



