  @charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: serif;
    background-color: black;
    font-size: 8px;

}

p {
    margin: 0;
    padding: 0;
    opacity: .075;
}

.coloredBlock {
	position: absolute;
/*	width: 100px;
	height: 100px;*/
}

.image-wrapper.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.image-wrapper {
	position: absolute;
	opacity: 1;
}

.rotate1 {
    transform: rotate(10deg);
}

.rotate2 {
    transform: rotate(50deg);
}

.rotate3 {
    transform: rotate(-200deg);
}

.rotate4 {
    transform: skew(-90deg);
}


