html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
}

.box {
	height: 25%;
	width: 25%;
	display: inline-block;
}

#b1 {
	background-color: lightsteelblue;
}
#b1:hover {
	background-color: navy;
}

#b2 {
	background-color: palevioletred;
}
#b2:hover {
	background-color: mediumvioletred;
}

#b3 {
	background-color: gold;
}
#b3:hover {
	background-color: purple;
}

#b4 {
	background-color: coral;
}
#b4:hover {
	background-color: hotpink;
}

#b5 {
	background-color: pink;
}
#b5:hover {
	background-color: brown;
}

#b6 {
	background-color: lavender;
}
#b6:hover {
	background-color: palegoldenrod;
}

#b7 {
	background-color: rosybrown;
}
#b7:hover {
	background-color: seagreen;
}


#b8 {
	background-color: moccasin;
}
#b8:hover {
	background-color: lightskyblue;
}


#b9 {
	background-color: lightblue;
}
#b9:hover {
	background-color: gold;
}


#b10 {
	background-color: indianred;
}
#b10:hover {
	background-color: royalblue;
}


#b11 {
	background-color: darkslateblue;
}
#b11:hover {
	background-color: bisque;
}


#b12 {
	background-color: steelblue;
}
#b12:hover {
	background-color: chocolate;
}


#b13 {
	background-color: teal;
}
#b13:hover {
	background-color: darkgreen;
}


#b14 {
	background-color: salmon;
}
#b14:hover {
	background-color: lightcyan;
}


#b15 {
	background-color: slategrey;
}
#b15:hover {
	background-color: orange;
}

#b16 {
	background-color: darkseagreen;
}
#b16:hover {
	background-color: aliceblue;
}




