@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Alfa Slab One', cursive;
    background-color: whitesmoke;

}

p {
	font-size: 60px;
    margin: 0;
    padding: 0;
    opacity: .15;
}

.coloredBlock {
	position: absolute;
	width: 100px;
	height: 100px;
	transform: translate(-50%, -50%);
}

.image-wrapper.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.image-wrapper {
	position: absolute;
	opacity: 1;
}


