@charset "UTF-8";

html {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: lightpink;
	overflow: hidden;
}

.box {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: block;
	transition: all .5s ease;
	background-color: white;
	margin: 0;
	position: absolute;
}

.imgbackground8 {
	background-color: transparent !important;
	background-image: url('spin.gif');
	background-size: cover;
}

