@charset "UTF-8";

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    overflow: hidden;
}

div {
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 600px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
}


@media screen and (max-width: 1000px){
    h1 {
        font-family: 'Rozha One', serif;
    }
}

@media screen and (max-width: 900px){
    h1 {
        font-family: 'Merriweather', serif;
    }
}

@media screen and (max-width: 700px){
    h1 {
        font-family: 'Lora', serif;
    }
}

@media screen and (max-width: 600px){
    h1 {
        font-family: 'Libre Baskerville', serif;
    }
}

@media screen and (max-width: 500px){
    h1 {
        font-family: 'Source Serif Pro', serif;
    }
}

@media screen and (max-width: 400px){
    h1 {
        font-family: 'Alegreya', serif;
    }
}
