@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#skrollr-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25000px;
}

div {
    margin: 0px;
    padding: 0px;
}

.stars {
  position: fixed;
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 8px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 4px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 8px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  z-index: 2;
  height: 100%;
  width: 100%;
}





@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.clouds {
  background: transparent
    url(images/clouds.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.moon {
  position: absolute;
  top: -900px;
  left: 0;
  width: 150px;
  height: 150px;
  display: block;
  background: transparent
    url(images/moon.png) no-repeat center
    center;
  background-size: contain;
  z-index: 3;
}

.moon-container {
  position: fixed;
  height: 1px;
  width: 1px;
  left: 50%;
  top: 160%;
}


