html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
}

.lightblue {
  background-color: lightblue !important;
}

.mediumblue {
  background-color: royalblue !important;
}

.darkblue {
  background-color: midnightblue !important;
}

.box:hover {
  background-color: black;
}

.box {
	height: 25%;
	width: 25%;
	display: inline-block;
}

.lightpink {
	background-color: lavenderblush;
}

.mediumpink {
	background-color: pink;
}

.darkpink {
	background-color: palevioletred;
}




